body {
    background: #fae0e4;
    color: #ff477e;
}
h1 {
    text-align: center;
    font-size: 60;
    margin: 4;
}

ul {
    list-style-type: none;
}


button {
    width: 100px;
    height: 30px;
    border: 3px soldi white;
    border-radius: 50px;
    background: #404040;
    margin: 3px;
    color: white;
    cursor: pointer;
    outline: none;
}

#buttonList {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#heading{
    text-align: center;
    position:sticky;
    width: 100%;
    background-color: #fae0e4;
    top: 0;
}

#stopwatch {
    text-align: center;
    font-size: 100;
    margin:4;
}

.lap{
    width: 45%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: #c0a0b0;
    border-radius: 5px;
    height: 2.5rem;
    font-size: 30;
    margin-top: 10;

}

.lapTitle{
    width: 100%;
    text-overflow: clip;
    overflow: scroll;
    white-space: nowrap;

}

.lapTime {
    margin-left: 5px;
    margin-right: 1px;
}






